#playerIcon{
    position:absolute;
    bottom:0px;
    height:37px;
    width:60px;;
    background-color:black;
    background-image:url('./assets/player.png');
    z-index:10;
}

#playerIcon.shoot{
    background-image:url('./assets/shoot.gif');
}

#playerIcon.playerdead{
    background-image:url('./assets/explosion.gif');
}
#gameOver, #pause, #levelCleared{
    display:none;
    background-image:url('./assets/gameover.jpg');
    position:absolute;
    top:125px;
    left:250px;
    width:300px;
    height:300px;
    z-index:100;
    border:5px solid grey;
}
#levelCleared{
    background-image:url('./assets/levelCleared.png');
}
#pause{
    background-image:url('./assets/pause.jpg');
}

body{
    background-color:black;
color:white;
}

#controlPanel{
    position:relative;
    float:left;
    height:550px; 
    width:300px;
    border:10px white solid;
}

#world{
    
    position:relative;
    float:left;
    height:550px; 
    width:800px;
    top:0;
    bottom:0;
    
    
    left:0;
    right:0;
    
    background-color:black;
    z-index:1;
    border:10px solid white;
    
}

#UFO{
    width:60px;
    height:60px;
    position:relative;
    background:url("./assets/UFO.png");
    margin-left:-60px;
}

#UFO.deadufo{
    background:url("./assets/ufokill.png");
}
#UFOpanel{
    position:absolute; 
    top:0;
    left:0;
    right:0;
    height:60px;
    overflow:hidden;
    
}

.playerBullets, .enemyBullets{
    background-color:yellow;
    height:15px;
    width:5px;
    position:absolute;
    z-index:10;
}

.enemyBullets{
    background-color:red;
}

.row{
    position:absolute;
    top: 5px;
    height:50px;
    
    left:0px;
    right:0px;
	  
    
    z-index:3;
}


.firstEnemy{
    margin-left:15%;
}
.dead{
    visibility:hidden;
}

.explode{
    background: url('./assets/invaderkill.png') !important;
}
.explode.dead{
    visibility:visible;
}

.enemy{
    background-color:red;
    /*width:10%;*/
    width:40px;
    height:27px;
    
    margin-left:30px;;

    float:left;
    text-align:center;
    font-size:160%;
    line-height:50px;
    background: url('./assets/spaceInvader.png');
}

.enemy.type0{background-position-x: 0px;}
.enemy.type1{background-position-x: 80px;}
.enemy.type2{background-position-x: 160px;}
.enemy.step2{background-position-y: 27px;}



.color0{background-color:red}
.color1{background-color:yellow}
.color2{background-color:green}
.color3{background-color:blue}
.color4{background-color:purple}
.color5{background-color:orange}

.checking{background-color:white;}

#score{font-size:40px;}
#controlPanel input { width:35px;} 
#controlPanel label { width:175px; display:inline-block;} 
#gameInstructions{
    clear:both;
    width:1120px;
    border:10px solid white;
    border-top:0px;
}

#nextLevelLink{
    font-size:40px; 
    color:white;
}