#playerIcon{
    position:absolute;
    bottom:5px;
    height:20px;
    width:60px;;
    background-color:green;
    z-index:10;
}

#world{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    z-index:1;
}

.playerBullets{
    background-color:yellow;
    height:15px;
    width:5px;
    position:absolute;
    z-index:10;
}

.row{
    position:absolute;
    top: 5px;
    height:50px;
    left:0px;
    right:0px;
    z-index:3;
}

.enemy{
    background-color:red;
    width:10%;
    margin-left:15%;
    height:50px;
    float:left;
    text-align:center;
    font-size:160%;
    line-height:50px;
}

